@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
    font-family: "Raleway", sans-serif;
    color: purple;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

/* Game button style */
.choice-area {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 12%;
    background-color: white;
}

.buttons:hover {
    background-color: grey;
    font-size: 3.5rem;
}

