@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
    font-family: "Raleway", sans-serif;
    color: purple;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
}

div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
}