@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


html {
    font-family: "Raleway", sans-serif;
    color: #CB9CF2;
    text-align: center;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background-color: #9E7B9B;
  width: 100%;
}

h1 {
    font-size: 3.5rem;
    color: white;
    height: 8vh;
}

/* Game button style */
.choice-area{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.buttons {
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    border-radius: 12%;
    background-color: white;
    margin: 0.4rem;
}

.buttons:hover {
    background-color: #374A67;
    font-size: 3.5rem;
}

/* Game area */
.game-board {
  width: 60%;
  height: 40vh;
  border: solid #0E1116;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
}

.selected-choice {
  font-size: 8rem;
  border-radius: 12%;
  background-color: white;
}

.selected-choice h2 {
  font-size: 2rem;
}

/* Rules modal for footer */
footer {
  margin-top: auto;
  height: 4vh;
  background-color: #9E7B9B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.rules {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .rules-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #616283;
    width: 80%;
  }
  
  .close {
    color: #616283;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #0E1116;
    text-decoration: none;
    cursor: pointer;
  }